# =========================
# Unity
# =========================

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# MemoryCaptures
MemoryCaptures/

# Asset meta backup
*.bak

# Visual Studio / Rider
.vs/
.idea/
.gradle/
ExportedObj/

# Auto generated
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# macOS
.DS_Store

# Android
*.apk
*.aab

# Crashlytics
crashlytics-build.properties

# JetBrains Rider
.idea/

# Logs
sysinfo.txt